<nav class="bg-white shadow">

      <div class="mx-auto px-4 flex justify-between h-16 items-center">
        <!-- Title -->
        <div>
          <a href="#" class="text-xl font-bold text-gray-800">
            LLM Comparator
          </a>
        </div>

        <!-- User Sign In/Sign Out Button -->
        <button class="bg-blue-500 text-white px-4 py-2 rounded-xl hover:bg-blue-600">
          Test
        </button>

      </div>

  </nav>
  