<nav class="bg-white shadow">

      <div class="mx-auto px-4 flex justify-between h-16 items-center">
        <!-- Title -->
        <div>
          <a href="#" class="text-xl font-bold text-gray-800">
            LLM Comparator
          </a>
        </div>

        <!-- User Sign In/Sign Out Button -->
        <% if user_signed_in? %>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "bg-blue-500 text-white px-4 py-2 rounded-xl hover:bg-blue-600" %>


        <% else %>
    <div class="flex space-x-2">
        <%= link_to "Sign In", new_user_session_path, class: "bg-blue-500 text-white px-4 py-2 rounded-xl hover:bg-blue-600" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "bg-blue-500 text-white px-4 py-2 rounded-xl hover:bg-blue-600" %>
    </div>
        <% end %>

      </div>

  </nav>
  